---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/random
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Location:
      - http://www.reddit.com/tb/1qbokv
      X-N:
      - S
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 10 Nov 2013 19:56:47 GMT
- request:
    method: get
    uri: http://www.reddit.com/api/info.json?id=t3_1qbokv
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\":
        [{\"kind\": \"t3\", \"data\": {\"domain\": \"self.AskReddit\", \"banned_by\":
        null, \"media_embed\": {}, \"subreddit\": \"AskReddit\", \"selftext_html\":
        null, \"selftext\": \"\", \"likes\": null, \"secure_media\": null, \"link_flair_text\":
        null, \"id\": \"1qbokv\", \"secure_media_embed\": {}, \"clicked\": false,
        \"stickied\": false, \"author\": \"ilovebacon14\", \"media\": null, \"score\":
        1, \"approved_by\": null, \"over_18\": false, \"hidden\": false, \"thumbnail\":
        \"\", \"subreddit_id\": \"t5_2qh1i\", \"edited\": false, \"link_flair_css_class\":
        null, \"author_flair_css_class\": null, \"downs\": 0, \"saved\": false, \"is_self\":
        true, \"permalink\": \"/r/AskReddit/comments/1qbokv/what_is_the_weirdest_comment_or_post_you_have/\",
        \"name\": \"t3_1qbokv\", \"created\": 1384142165.0, \"url\": \"http://www.reddit.com/r/AskReddit/comments/1qbokv/what_is_the_weirdest_comment_or_post_you_have/\",
        \"author_flair_text\": null, \"title\": \"What is the weirdest comment or
        post you have upvoted and why?\", \"created_utc\": 1384113365.0, \"ups\":
        1, \"num_comments\": 0, \"visited\": false, \"num_reports\": null, \"distinguished\":
        null}}], \"after\": null, \"before\": null}}"
  recorded_at: Sun, 10 Nov 2013 19:56:47 GMT
recorded_with: VCR 2.6.0
