---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/api/info.json?id=t1_cce66qf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\":
        [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2ylc5\", \"banned_by\":
        null, \"subreddit\": \"RedditKitTesting\", \"likes\": null, \"replies\": \"\",
        \"id\": \"cce66qf\", \"gilded\": 0, \"author\": \"samsymons\", \"parent_id\":
        \"t3_1n002d\", \"approved_by\": null, \"body\": \"Here's a test comment which
        will also never be deleted.\", \"edited\": false, \"author_flair_css_class\":
        null, \"downs\": 1, \"body_html\": \"&lt;div class=\\\"md\\\"&gt;&lt;p&gt;Here&amp;#39;s
        a test comment which will also never be deleted.&lt;/p&gt;\\n&lt;/div&gt;\",
        \"link_id\": \"t3_1n002d\", \"score_hidden\": false, \"name\": \"t1_cce66qf\",
        \"created\": 1379988702.0, \"author_flair_text\": null, \"created_utc\": 1379985102.0,
        \"ups\": 2, \"num_reports\": null, \"distinguished\": null}}], \"after\":
        null, \"before\": null}}"
  recorded_at: Sun, 10 Nov 2013 19:54:45 GMT
recorded_with: VCR 2.6.0
