---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/r/random
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      Location:
      - http://www.reddit.com/r/goldredditsays/
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <html>
         <head>
          <title>302 Found</title>
         </head>
         <body>
          <h1>302 Found</h1>
          The resource was found at <a href="http://www.reddit.com/r/goldredditsays/">http://www.reddit.com/r/goldredditsays/</a>;
        you should be redirected automatically.


         </body>
        </html>
  recorded_at: Sun, 10 Nov 2013 22:38:25 GMT
- request:
    method: get
    uri: http://www.reddit.com/r/goldredditsays/about.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"kind\": \"t5\", \"data\": {\"submit_text_html\": null, \"user_is_banned\":
        null, \"id\": \"2t72t\", \"submit_text\": \"\", \"spam_selfposts\": \"high\",
        \"display_name\": \"goldredditsays\", \"header_img\": \"http://f.thumbs.redditmedia.com/W0xItPrYVx2yAjWw.png\",
        \"description_html\": \"&lt;!-- SC_OFF --&gt;&lt;div class=\\\"md\\\"&gt;&lt;h3&gt;THE
        SRS FEMPIRE&lt;/h3&gt;\\n\\n&lt;table&gt;&lt;thead&gt;\\n&lt;tr&gt;\\n&lt;th
        align=\\\"left\\\"&gt;.&lt;/th&gt;\\n&lt;th align=\\\"left\\\"&gt;.&lt;/th&gt;\\n&lt;/tr&gt;\\n&lt;/thead&gt;&lt;tbody&gt;\\n&lt;tr&gt;\\n&lt;td
        align=\\\"left\\\"&gt;&lt;a href=\\\"/r/ShitRedditSays\\\"&gt;ShitRedditSays&lt;/a&gt;&lt;/td&gt;\\n&lt;td
        align=\\\"left\\\"&gt;&lt;a href=\\\"/r/SRSBeliefs\\\"&gt;SRSBeliefs&lt;/[...]
