---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/subreddits/mine/contributor.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Modhash:
      - 36zuxndsdf695692a68e32384990478663dadfc30f0a1dd959
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"58jjoxumpc64240e8f4386fb7493c15cf3f9f2fc545d191112\",
        \"children\": [{\"kind\": \"t5\", \"data\": {\"submit_text_html\": null, \"user_is_banned\":
        false, \"id\": \"2wy5o\", \"submit_text\": \"\", \"spam_selfposts\": \"high\",
        \"display_name\": \"RedditKit\", \"header_img\": null, \"description_html\":
        null, \"title\": \"RedditKit Testing\", \"over18\": false, \"user_is_moderator\":
        true, \"header_title\": null, \"description\": \"\", \"submit_link_label\":
        null, \"accounts_active\": null, \"spam_comments\": \"low\", \"spam_links\":
        \"high\", \"header_size\": null, \"subscribers\": 2, \"submit_text_label\":
        null, \"name\": \"t5_2wy5o\", \"created\": 1366069132.0, \"url\": \"/r/RedditKit/\",
        \"created_utc\": 1366065532.0, \"user_is_contributor\": true, \"public_traffic\":
        false, \"public_description\": \"\", \"comment_score_hide_mins\": 0, \"subreddit_type\":
        \"private\", \"submission_type\": \"any\", \"user_is_subscriber\": false}}],
        \"after\": null, \"before\": null}}"
  recorded_at: Sun, 10 Nov 2013 22:38:24 GMT
recorded_with: VCR 2.6.0
