---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/subreddits/mine/.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Modhash:
      - 36zuxndsdf695692a68e32384990478663dadfc30f0a1dd959
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"voz69xzzy84696bb0f32a69ecf763c3aaa494d8fc4d3fd4465\",
        \"children\": [{\"kind\": \"t5\", \"data\": {\"submit_text_html\": null, \"user_is_banned\":
        false, \"id\": \"2qh33\", \"submit_text\": \"\", \"spam_selfposts\": \"low\",
        \"display_name\": \"funny\", \"header_img\": \"http://f.thumbs.redditmedia.com/CzqvfNUiQGzmMIOw.png\",
        \"description_html\": \"&lt;!-- SC_OFF --&gt;&lt;div class=\\\"md\\\"&gt;&lt;p&gt;&lt;strong&gt;Welcome
        to r/Funny:&lt;/strong&gt;&lt;/p&gt;\\n\\n&lt;p&gt;You may only post if you
        are funny. &lt;/p&gt;\\n\\n&lt;hr/&gt;\\n\\n&lt;h1&gt;Rules&lt;/h1&gt;\\n\\n&lt;p&gt;&lt;em&gt;hover
        for details&lt;/em&gt;&lt;/p&gt;\\n\\n&lt;table&gt;&lt;thead&gt;\\n&lt;tr&gt;\\n&lt;th
        align=\\\"left\\\"&gt;&lt;/th&gt;\\n&lt;th align=\\\"left\\\"&gt;&lt;/th&gt;\\n&lt;/tr&gt;\\n&lt;/thead&gt;&lt;tbody&gt;\[...]
