---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/subreddits/search.json?q=ruby
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\":
        [{\"kind\": \"t5\", \"data\": {\"submit_text_html\": null, \"user_is_banned\":
        null, \"id\": \"2qh21\", \"submit_text\": \"\", \"spam_selfposts\": \"high\",
        \"display_name\": \"ruby\", \"header_img\": \"http://thumbs.reddit.com/t5_2qh21.png?v=d4ae33f6d04df1caf7a3b126aabe9ae5\",
        \"description_html\": \"&lt;!-- SC_OFF --&gt;&lt;div class=\\\"md\\\"&gt;&lt;p&gt;&lt;strong&gt;A
        reddit for discussion and news about ruby programming&lt;/strong&gt;&lt;/p&gt;\\n\\n&lt;p&gt;Ruby-on-Rails
        posts are encouraged to be posted in the &lt;a href=\\\"http://reddit.com/r/rails\\\"&gt;r/rails&lt;/a&gt;
        subreddit&lt;/p&gt;\\n\\n&lt;p&gt;&lt;strong&gt;Learning Ruby?&lt;/strong&gt;&lt;/p&gt;\\n\\n&lt;ul&gt;\\n&lt;li&gt;&lt;a
        href=\\\"http://tryruby.org/\\\"&gt;Try Ruby&lt;/a&gt; [...]
