---
http_interactions:
- request:
    method: post
    uri: https://ssl.reddit.com/api/login
    body:
      encoding: US-ASCII
      string: user=<REDDIT_USERNAME>&passwd=<REDDIT_USERNAME>Password&api_type=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"json\": {\"errors\": [], \"data\": {\"modhash\": \"36zuxndsdf695692a68e32384990478663dadfc30f0a1dd959\",
        \"cookie\": \"20332937,2013-11-10T11:35:59,2077074c26ccd8ec123c996b77eeb7afb6090af9\"}}}"
  recorded_at: Sun, 10 Nov 2013 19:35:57 GMT
- request:
    method: get
    uri: http://www.reddit.com/user/<REDDIT_USERNAME>/about.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Modhash:
      - 36zuxndsdf695692a68e32384990478663dadfc30f0a1dd959
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"kind\": \"t2\", \"data\": {\"has_mail\": false, \"name\": \"<REDDIT_USERNAME>\",
        \"is_friend\": false, \"created\": 1371758712.0, \"modhash\": \"isl606b3ws10e5f6e12f2df66cab5f29ad65ffcfd72ffe67de\",
        \"created_utc\": 1371755112.0, \"link_karma\": 1, \"comment_karma\": 0, \"over_18\":
        true, \"is_gold\": false, \"is_mod\": true, \"has_verified_email\": null,
        \"id\": \"c3szt\", \"has_mod_mail\": true}}"
  recorded_at: Sun, 10 Nov 2013 19:35:58 GMT
recorded_with: VCR 2.6.0
