---
http_interactions:
- request:
    method: put
    uri: http://www.reddit.com/api/multi/user/<REDDIT_USERNAME>/m/test/description
    body:
      encoding: US-ASCII
      string: multipath=%2Fuser%2F<REDDIT_USERNAME>%2Fm%2Ftest&model=%7B%22body_md%22%3A%22New+description%22%7D
    headers:
      X-Modhash:
      - 36zuxndsdf695692a68e32384990478663dadfc30f0a1dd959
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"kind\": \"LabeledMultiDescription\", \"data\": {\"body_html\": \"&lt;!--
        SC_OFF --&gt;&lt;div class=\\\"md\\\"&gt;&lt;p&gt;New description&lt;/p&gt;\\n&lt;/div&gt;&lt;!--
        SC_ON --&gt;\", \"body_md\": \"New description\"}}"
  recorded_at: Sun, 10 Nov 2013 22:02:59 GMT
recorded_with: VCR 2.6.0
