---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/api/multi/user/<REDDIT_USERNAME>/m/test.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"kind": "LabeledMulti", "data": {"can_edit": false, "name": "test",
        "created": 1384149680.0, "subreddits": [{"name": "ruby"}, {"name": "ObjectiveC"}],
        "created_utc": 1384120880.0, "visibility": "public", "path": "/user/<REDDIT_USERNAME>/m/test"}}'
  recorded_at: Sun, 10 Nov 2013 22:02:54 GMT
- request:
    method: get
    uri: http://www.reddit.com/api/multi/user/RedditKitTester/m/test.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"kind": "LabeledMulti", "data": {"can_edit": false, "name": "test",
        "created": 1384149680.0, "subreddits": [{"name": "ruby"}, {"name": "ObjectiveC"}],
        "created_utc": 1384120880.0, "visibility": "public", "path": "/user/RedditKitTester/m/test"}}'
  recorded_at: Wed, 29 Jan 2014 23:25:02 GMT
recorded_with: VCR 2.8.0
