---
http_interactions:
- request:
    method: post
    uri: http://www.reddit.com/api/multi/user/<REDDIT_USERNAME>/m/conflictedmultireddit
    body:
      encoding: US-ASCII
      string: multipath=%2Fuser%2F<REDDIT_USERNAME>%2Fm%2Fconflictedmultireddit&model=%7B%22visibility%22%3A%22private%22%2C%22subreddits%22%3A%5B%5D%7D
    headers:
      X-Modhash:
      - 36zuxndsdf695692a68e32384990478663dadfc30f0a1dd959
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"kind\": \"LabeledMulti\", \"data\": {\"can_edit\": true, \"name\":
        \"conflictedmultireddit\", \"created\": 1384149772.0, \"subreddits\": [],
        \"created_utc\": 1384120972.0, \"visibility\": \"private\", \"path\": \"/user/<REDDIT_USERNAME>/m/conflictedmultireddit\"}}"
  recorded_at: Sun, 10 Nov 2013 22:02:51 GMT
- request:
    method: post
    uri: http://www.reddit.com/api/multi/user/<REDDIT_USERNAME>/m/conflictedmultireddit
    body:
      encoding: US-ASCII
      string: multipath=%2Fuser%2F<REDDIT_USERNAME>%2Fm%2Fconflictedmultireddit&model=%7B%22visibility%22%3A%22private%22%2C%22subreddits%22%3A%5B%5D%7D
    headers:
      X-Modhash:
      - 36zuxndsdf695692a68e32384990478663dadfc30f0a1dd959
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"fields\": [\"multipath\"], \"explanation\": \"that multireddit already
        exists\", \"reason\": \"MULTI_EXISTS\"}"
  recorded_at: Sun, 10 Nov 2013 22:02:51 GMT
- request:
    method: delete
    uri: http://www.reddit.com/api/multi/user/<REDDIT_USERNAME>/m/conflictedmultireddit?multireddit=/user/<REDDIT_USERNAME>/m/conflictedmultireddit
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Modhash:
      - 36zuxndsdf695692a68e32384990478663dadfc30f0a1dd959
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 10 Nov 2013 22:02:52 GMT
recorded_with: VCR 2.6.0
