---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/reddits/new.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\":
        [{\"kind\": \"t5\", \"data\": {\"submit_text_html\": null, \"user_is_banned\":
        null, \"id\": \"2z20r\", \"submit_text\": \"\", \"spam_selfposts\": \"high\",
        \"display_name\": \"LiterallyAnyoneCanMod\", \"header_img\": null, \"description_html\":
        null, \"title\": \"Anyone can mod - Literally!\", \"over18\": false, \"user_is_moderator\":
        null, \"header_title\": null, \"description\": \"\", \"submit_link_label\":
        null, \"accounts_active\": null, \"spam_comments\": \"low\", \"spam_links\":
        \"high\", \"header_size\": null, \"subscribers\": 1, \"submit_text_label\":
        null, \"name\": \"t5_2z20r\", \"created\": 1384151559.0, \"url\": \"/r/LiterallyAnyoneCanMod/\",
        \"created_utc\": 1384122759.0, \"user_is_contributor\": null, \"public_traffic\":
        false, \"public_description\": \"\", \"comment_score_hide_mins\": 0, \"subreddit_type\":
        \"public\", \"submission_type\": \"any\", \"user_is_subscriber\": null}},
        {\"kind\": \"t5\", \"data\": {\"submit_text_html\": null, \"user_is_banned\":
        null, \"id\": \"2z20q\", \"submit_text\": \"\", \"spam_selfposts\": \"high\",
        \"display_name\": \"PowerMetalSubreddit\", \"header_img\": null, \"description_html\":
        null, \"title\": \"power metal\", \"over18\": false, \"user_is_moderator\":
        null, \"header_title\": null, \"description\": \"\", \"submit_link_label\":
        null, \"accounts_active\": null, \"spam_comments[...]
