---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/reddits/.json?limit=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\":
        [{\"kind\": \"t5\", \"data\": {\"submit_text_html\": \"&lt;!-- SC_OFF --&gt;&lt;div
        class=\\\"md\\\"&gt;&lt;p&gt;Got a cool halloween costume? Post it to &lt;a
        href=\\\"/r/halloweencostume\\\"&gt;/r/halloweencostume&lt;/a&gt; !&lt;/p&gt;\\n&lt;/div&gt;&lt;!--
        SC_ON --&gt;\", \"user_is_banned\": null, \"id\": \"2qh0u\", \"submit_text\":
        \"Got a cool halloween costume? Post it to /r/halloweencostume !\", \"spam_selfposts\":
        \"high\", \"display_name\": \"pics\", \"header_img\": \"http://a.thumbs.redditmedia.com/CsJN7DRRk2BQ2eQB.png\",
        \"description_html\": \"&lt;!-- SC_OFF --&gt;&lt;div class=\\\"md\\\"&gt;&lt;p&gt;A
        place to share photographs and pictures. Feel free to post your own, but please
        &lt;strong&gt;read the rules first&lt;/strong&gt; (see below), and note that
        we are &lt;em&gt;not a catch-all&lt;/em&gt; for general images (of screenshots,
        comics, etc.)&lt;/p&gt;\\n\\n&lt;h1&gt;Spoiler code&lt;/h1&gt;\\n\\n&lt;p&gt;Please
        mark spoilers like this:&lt;br/&gt;\\n&lt;code&gt;[text here](/spoiler)&lt;/[...]
