---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/user/<REDDIT_USERNAME>/overview.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Modhash:
      - 36zuxndsdf695692a68e32384990478663dadfc30f0a1dd959
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"bb1wbm9hy708d9c7cc011ac8ac02e7bd769c05c3ad37a65714\",
        \"children\": [{\"kind\": \"t3\", \"data\": {\"domain\": \"self.RedditKit\",
        \"banned_by\": null, \"media_embed\": {}, \"subreddit\": \"RedditKit\", \"selftext_html\":
        \"&lt;!-- SC_OFF --&gt;&lt;div class=\\\"md\\\"&gt;&lt;p&gt;Testing this!&lt;/p&gt;\\n&lt;/div&gt;&lt;!--
        SC_ON --&gt;\", \"selftext\": \"Testing this!\", \"likes\": true, \"secure_media\":
        null, \"link_flair_text\": null, \"id\": \"1o62ux\", \"secure_media_embed\":
        {}, \"clicked\": false, \"stickied\": false, \"author\": \"<REDDIT_USERNAME>\",
        \"media\": null, \"score\": 1, \"approved_by\": null, \"over_18\": false,
        \"hidden\": false, \"thumbnail\": \"self\", \"subreddit_id\": \"t5_2wy5o\",
        \"edited\": false, \"link_flair_css_class\": null, \"author_flair_css_class\":
        null, \"downs\": 0, \"saved\": false, \"is_self\": true, \"permalink\": \"/r/RedditKit/comments/1o62ux/mod_log_test/\",
        \"name\": \"t3_1o62ux\", \"created\": 1381439065.0, \"url\": \"http://www.reddit.com/r/RedditKit/comments/1o62ux/mod_log_test/\",
        \"author_flair_text\": null, \"title\": \"Mod log test\", \"created_utc\":
        1381435465.0, \"ups\": 1, \"num_comments\": 0, \"visited\": false, \"num_reports\":
        0, \"distinguished\": null}}], \"after\": null, \"before\": null}}"
  recorded_at: Sun, 10 Nov 2013 22:21:05 GMT
recorded_with: VCR 2.6.0
