---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/user/<REDDIT_USERNAME>/overview.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Sun, 10 Nov 2013 19:54:46 GMT
    body:
      encoding: UTF-8
      string: "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\":
        [], \"after\": null, \"before\": null}}"
  recorded_at: Sun, 10 Nov 2013 22:21:09 GMT
recorded_with: VCR 2.6.0
