---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/r/programming/hot.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\":
        [{\"kind\": \"t3\", \"data\": {\"domain\": \"ruoyusun.com\", \"banned_by\":
        null, \"media_embed\": {}, \"subreddit\": \"programming\", \"selftext_html\":
        null, \"selftext\": \"\", \"likes\": null, \"secure_media\": null, \"link_flair_text\":
        null, \"id\": \"1qb2q2\", \"secure_media_embed\": {}, \"clicked\": false,
        \"stickied\": false, \"author\": \"insraq\", \"media\": null, \"score\": 117,
        \"approved_by\": null, \"over_18\": false, \"hidden\": false, \"thumbnail\":
        \"\", \"subreddit_id\": \"t5_2fwo\", \"edited\": false, \"link_flair_css_class\":
        null, \"author_flair_css_class\": null, \"downs\": 50, \"saved\": false, \"is_self\":
        false, \"permalink\": \"/r/programming/comments/1qb2q2/scala_is_not_java_glue/\",
        \"name\": \"t3_1qb2q2\", \"created\": 1384123369.0, \"url\": \"http://ruoyusun.com/2013/11/10/scala-is-not-java-glue.html\",
        \"author_flair_text\": null, \"title\": \"Scala is Not Java Glue\", \"created_utc\":
        1384094569.0, \"ups\": 167, \"num_comments\": 55, \"visited\": false, \"num_reports\":
        null, \"distinguished\": null}}, {\"kind\": \"t3\", \"data\": {\"domain\":
        \"programmableweb.com\", \"banned_by\": null, \"media_embed\": {}, \"subreddit\":
        \"programming\", \"selftext_html\": null, \"selftext\": \"\", \"likes\": null,
        \"secure_media\": null, \"link_flair_text\": null, \"id\": \"1qbabt\", \"secure_media_embed\":
        {}, \"clicked\": false, \"stickied\": false, \"author\": \"mycall\", \"media\":
        null, \"score\": 33, \"approved_by\": null, \"over_18\": false, \"hidden\[...]
