---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/r/programming/top.json?t=year
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\":
        [{\"kind\": \"t3\", \"data\": {\"domain\": \"bjk5.com\", \"banned_by\": null,
        \"media_embed\": {}, \"subreddit\": \"programming\", \"selftext_html\": null,
        \"selftext\": \"\", \"likes\": null, \"secure_media\": null, \"link_flair_text\":
        null, \"id\": \"19rzi3\", \"secure_media_embed\": {}, \"clicked\": false,
        \"stickied\": false, \"author\": \"MY_POOP_HAS_HAIR\", \"media\": null, \"score\":
        4007, \"approved_by\": null, \"over_18\": false, \"hidden\": false, \"thumbnail\":
        \"\", \"subreddit_id\": \"t5_2fwo\", \"edited\": false, \"link_flair_css_class\":
        null, \"author_flair_css_class\": null, \"downs\": 2135, \"saved\": false,
        \"is_self\": false, \"permalink\": \"/r/programming/comments/19rzi3/breaking_down_amazons_mega_dropdown/\",
        \"name\": \"t3_19rzi3\", \"created\": 1362581677.0, \"url\": \"http://bjk5.com/post/44698559168/breaking-down-amazons-mega-dropdown\",
        \"author_flair_text\": null, \"title\": \"Breaking down Amazon's mega dropdown\",
        \"created_utc\": 1362581677.0, \"ups\": 6142, \"num_comments\": 223, \"visited\":
        false, \"num_reports\": null, \"distinguished\": null}}, {\"kind\": \"t3\",
        \"data\": {\"domain\": \"7.asset.soup.io\", \"banned_by\": null, \"media_embed\":
        {}, \"subreddit\": \"programming\", \"selftext_html\": null, \"selftext\":
        \"\", \"likes\": null, \"secure_media\": null, \"link_flair_text\": null,
        \"id\": \"17jwoi\", \"secure_media_embed\": {}, \"clicked\": false, \"stickied\":
        false, \"author\": \"dgryski\", \"media\": null, \"score\": 3470, \"approved_by\":
        null, \"over_18\": false, \"[...]
