---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/hot.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\":
        [{\"kind\": \"t3\", \"data\": {\"domain\": \"i.imgur.com\", \"banned_by\":
        null, \"media_embed\": {}, \"subreddit\": \"pics\", \"selftext_html\": null,
        \"selftext\": \"\", \"likes\": null, \"secure_media\": null, \"link_flair_text\":
        null, \"id\": \"1qb8qj\", \"secure_media_embed\": {}, \"clicked\": false,
        \"stickied\": false, \"author\": \"shishdem\", \"media\": null, \"score\":
        4179, \"approved_by\": null, \"over_18\": false, \"hidden\": false, \"thumbnail\":
        \"http://a.thumbs.redditmedia.com/Z6J7lct_CxHdEYzl.jpg\", \"subreddit_id\":
        \"t5_2qh0u\", \"edited\": false, \"link_flair_css_class\": null, \"author_flair_css_class\":
        null, \"downs\": 8263, \"saved\": false, \"is_self\": false, \"permalink\":
        \"/r/pics/comments/1qb8qj/ron_burgundy_and_daft_punk_doing_a_little/\", \"name\":
        \"t3_1qb8qj\", \"created\": 1384129579.0, \"url\": \"http://i.imgur.com/9Scncsm.jpg\",
        \"author_flair_text\": null, \"title\": \"Ron Burgundy and Daft Punk doing
        a little sightseeing around town (Amsterdam)\", \"created_utc\": 1384100779.0,
        \"distinguished\": null, \"num_comments\": 285, \"visited\": false, \"num_reports\":
        null, \"ups\": 12442}}, {\"kind\": \"t3\", \"data\": {\"domain\": \"i.imgur.com\",
        \"banned_by\": null, \"media_embed\": {}, \"subreddit\": \"aww\", \"selftext_html\":
        null, \"selftext\": \"\", \"likes\": null, \"secure_media\": null, \"link_flair_text\":
        null, \"id\": \"1qba80\", \"secure_media_embed\": {}, \"clicked\": false,
        \"stickied\": false, \"author\": \"bazinga624\", \"media\": null, \"score\":
        3205, \"approved_by\": null, \"over_18\": false, \"hidden\": false,[...]
