---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/api/multi/mine.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Modhash:
      - 36zuxndsdf695692a68e32384990478663dadfc30f0a1dd959
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "[{\"kind\": \"LabeledMulti\", \"data\": {\"can_edit\": true, \"name\":
        \"test\", \"created\": 1384149680.0, \"subreddits\": [{\"name\": \"ruby\"},
        {\"name\": \"ObjectiveC\"}], \"created_utc\": 1384120880.0, \"visibility\":
        \"public\", \"path\": \"/user/<REDDIT_USERNAME>/m/test\"}}]"
  recorded_at: Sun, 10 Nov 2013 22:03:00 GMT
recorded_with: VCR 2.6.0
