---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/r/RedditKitTesting/about/moderators.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Modhash:
      - 36zuxndsdf695692a68e32384990478663dadfc30f0a1dd959
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"kind": "UserList", "data": {"children": [{"mod_permissions": ["all"],
        "name": "samsymons", "id": "t2_614hc"}, {"mod_permissions": ["all"], "name":
        "<REDDIT_USERNAME>", "id": "t2_c3szt"}]}}'
  recorded_at: Sun, 10 Nov 2013 22:21:38 GMT
- request:
    method: get
    uri: http://www.reddit.com/r/<REDDIT_USERNAME>_testsub/about/moderators.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Modhash:
      - 36zuxndsdf695692a68e32384990478663dadfc30f0a1dd959
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error": 403}'
  recorded_at: Wed, 29 Jan 2014 23:30:34 GMT
recorded_with: VCR 2.8.0
