---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/api/me.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Modhash:
      - 36zuxndsdf695692a68e32384990478663dadfc30f0a1dd959
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"kind\": \"t2\", \"data\": {\"has_mail\": false, \"name\": \"<REDDIT_USERNAME>\",
        \"is_friend\": false, \"created\": 1371758712.0, \"modhash\": \"zw5mlbga7e7052f8a2c67476a09c7e790e8789488f2add2a1e\",
        \"created_utc\": 1371755112.0, \"link_karma\": 1, \"comment_karma\": 0, \"over_18\":
        true, \"is_gold\": false, \"is_mod\": true, \"has_verified_email\": null,
        \"id\": \"c3szt\", \"has_mod_mail\": true}}"
  recorded_at: Sun, 10 Nov 2013 22:21:08 GMT
recorded_with: VCR 2.6.0
