---
http_interactions:
- request:
    method: post
    uri: http://www.reddit.com/api/multi/user/<REDDIT_USERNAME>/m/removesubreddit
    body:
      encoding: US-ASCII
      string: multipath=%2Fuser%2F<REDDIT_USERNAME>%2Fm%2Fremovesubreddit&model=%7B%22visibility%22%3A%22private%22%2C%22subreddits%22%3A%5B%7B%22name%22%3A%22ruby%22%7D%2C%7B%22name%22%3A%22objectivec%22%7D%2C%7B%22name%22%3A%22haskell%22%7D%5D%7D
    headers:
      X-Modhash:
      - 36zuxndsdf695692a68e32384990478663dadfc30f0a1dd959
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"kind\": \"LabeledMulti\", \"data\": {\"can_edit\": true, \"name\":
        \"removesubreddit\", \"created\": 1384149781.0, \"subreddits\": [{\"name\":
        \"ruby\"}, {\"name\": \"haskell\"}, {\"name\": \"ObjectiveC\"}], \"created_utc\":
        1384120981.0, \"visibility\": \"private\", \"path\": \"/user/<REDDIT_USERNAME>/m/removesubreddit\"}}"
  recorded_at: Sun, 10 Nov 2013 22:03:00 GMT
- request:
    method: delete
    uri: http://www.reddit.com/api/multi/user/<REDDIT_USERNAME>/m/removesubreddit/r/haskell
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Modhash:
      - 36zuxndsdf695692a68e32384990478663dadfc30f0a1dd959
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 10 Nov 2013 22:03:01 GMT
- request:
    method: get
    uri: http://www.reddit.com/api/multi/user/<REDDIT_USERNAME>/m/removesubreddit.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Modhash:
      - 36zuxndsdf695692a68e32384990478663dadfc30f0a1dd959
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"kind\": \"LabeledMulti\", \"data\": {\"can_edit\": true, \"name\":
        \"removesubreddit\", \"created\": 1384149781.0, \"subreddits\": [{\"name\":
        \"ruby\"}, {\"name\": \"ObjectiveC\"}], \"created_utc\": 1384120981.0, \"visibility\":
        \"private\", \"path\": \"/user/<REDDIT_USERNAME>/m/removesubreddit\"}}"
  recorded_at: Sun, 10 Nov 2013 22:03:01 GMT
- request:
    method: delete
    uri: http://www.reddit.com/api/multi/user/<REDDIT_USERNAME>/m/removesubreddit?multireddit=/user/<REDDIT_USERNAME>/m/removesubreddit
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Modhash:
      - 36zuxndsdf695692a68e32384990478663dadfc30f0a1dd959
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 10 Nov 2013 22:03:02 GMT
recorded_with: VCR 2.6.0
