---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/message/inbox.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Modhash:
      - 36zuxndsdf695692a68e32384990478663dadfc30f0a1dd959
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"iklkxlqvpa2f4b8822c7297223f041fea20d2d52782a14f5d1\",
        \"children\": [{\"kind\": \"t4\", \"data\": {\"body\": \"Reply\", \"was_comment\":
        false, \"first_message\": 71518455, \"name\": \"t4_17th4w\", \"first_message_name\":
        \"t4_16kvzr\", \"created\": 1383080987.0, \"dest\": \"<REDDIT_USERNAME>\",
        \"author\": \"samsymons\", \"created_utc\": 1383077387.0, \"body_html\": \"&lt;!--
        SC_OFF --&gt;&lt;div class=\\\"md\\\"&gt;&lt;p&gt;Reply&lt;/p&gt;\\n&lt;/div&gt;&lt;!--
        SC_ON --&gt;\", \"subreddit\": null, \"parent_id\": \"t4_16kvzr\", \"context\":
        \"\", \"replies\": \"\", \"new\": false, \"id\": \"17th4w\", \"subject\":
        \"re: Test\"}}, {\"kind\": \"t1\", \"data\": {\"body\": \"Hello!\", \"link_title\":
        \"Sticky post\", \"was_comment\": true, \"first_message\": null, \"name\":
        \"t1_cccb4gz\", \"first_message_name\": null, \"created\": 1379716336.0, \"dest\":
        \"<REDDIT_USERNAME>\", \"author\": \"samsymons\", \"created_utc\": 1379712736.0,
        \"body_html\": \"&lt;!-- SC_OFF --&gt;&lt;div class=\\\"md\\\"&gt;&lt;p&gt;Hello!&lt;/p&gt;\\n&lt;/div&gt;&lt;!--
        SC_ON --&gt;\", \"subreddit\": \"RedditKit\", \"parent_id\": \"t3_1mjtjl\",
        \"likes\": null, \"context\": \"/r/RedditKit/comments/1mjtjl/sticky_post/cccb4gz?context=3\",
        \"replies\": null, \"new\": false, \"id\": \"cccb4gz\", \"subject\": \"post
        reply\"}}, {\"kind\": \"t4\", \"data\": {\"body\": \"you have been added as
        an approved submitter to [/r/RedditKit: RedditKit](/r/RedditKit).\", \"was_comment\":
        false, \"first_message\": null, \"name\": \"t4_14eh4f\", \"first_message_name\":
        null, \"created\": 1379453676.0, \"dest\": \"<REDDIT_USER[...]
