---
http_interactions:
- request:
    method: post
    uri: http://www.reddit.com/api/vote
    body:
      encoding: US-ASCII
      string: id=t1_cce66qf&dir=0&api_type=json
    headers:
      X-Modhash:
      - 36zuxndsdf695692a68e32384990478663dadfc30f0a1dd959
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Sun, 10 Nov 2013 22:21:23 GMT
- request:
    method: get
    uri: http://www.reddit.com/api/info.json?id=t1_cce66qf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Modhash:
      - 36zuxndsdf695692a68e32384990478663dadfc30f0a1dd959
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"lsm29q7cpt0b8c5e313ba1557171c7721835ef6e559b186288\",
        \"children\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2ylc5\",
        \"banned_by\": null, \"subreddit\": \"RedditKitTesting\", \"likes\": null,
        \"replies\": \"\", \"id\": \"cce66qf\", \"gilded\": 0, \"author\": \"samsymons\",
        \"parent_id\": \"t3_1n002d\", \"approved_by\": null, \"body\": \"Here's a
        test comment which will also never be deleted.\", \"edited\": false, \"author_flair_css_class\":
        \"csvclass\", \"downs\": 0, \"body_html\": \"&lt;div class=\\\"md\\\"&gt;&lt;p&gt;Here&amp;#39;s
        a test comment which will also never be deleted.&lt;/p&gt;\\n&lt;/div&gt;\",
        \"link_id\": \"t3_1n002d\", \"score_hidden\": false, \"name\": \"t1_cce66qf\",
        \"created\": 1379988702.0, \"author_flair_text\": \"Test CSV\", \"created_utc\":
        1379985102.0, \"ups\": 1, \"num_reports\": 0, \"distinguished\": null}}],
        \"after\": null, \"before\": null}}"
  recorded_at: Sun, 10 Nov 2013 22:21:24 GMT
- request:
    method: get
    uri: http://www.reddit.com/api/info.json?id=t1_cce66qf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Modhash:
      - 36zuxndsdf695692a68e32384990478663dadfc30f0a1dd959
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"67kgpbz8cyc2c291ac23d464bdf16e5ccd2bc5e123c1a59be7\",
        \"children\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2ylc5\",
        \"banned_by\": null, \"subreddit\": \"RedditKitTesting\", \"likes\": null,
        \"replies\": \"\", \"id\": \"cce66qf\", \"gilded\": 0, \"author\": \"samsymons\",
        \"parent_id\": \"t3_1n002d\", \"approved_by\": null, \"body\": \"Here's a
        test comment which will also never be deleted.\", \"edited\": false, \"author_flair_css_class\":
        \"csvclass\", \"downs\": 0, \"body_html\": \"&lt;div class=\\\"md\\\"&gt;&lt;p&gt;Here&amp;#39;s
        a test comment which will also never be deleted.&lt;/p&gt;\\n&lt;/div&gt;\",
        \"link_id\": \"t3_1n002d\", \"score_hidden\": false, \"name\": \"t1_cce66qf\",
        \"created\": 1379988702.0, \"author_flair_text\": \"Test CSV\", \"created_utc\":
        1379985102.0, \"ups\": 1, \"num_reports\": 0, \"distinguished\": null}}],
        \"after\": null, \"before\": null}}"
  recorded_at: Sun, 10 Nov 2013 22:21:24 GMT
recorded_with: VCR 2.6.0
