---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/api/info.json?url=github.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\":
        [{\"kind\": \"t3\", \"data\": {\"domain\": \"github.com\", \"banned_by\":
        null, \"media_embed\": {}, \"subreddit\": \"rubytesting\", \"selftext_html\":
        null, \"selftext\": \"\", \"likes\": null, \"secure_media\": null, \"link_flair_text\":
        null, \"id\": \"110s4j\", \"secure_media_embed\": {}, \"clicked\": false,
        \"stickied\": false, \"author\": \"rubytesting\", \"media\": null, \"score\":
        1, \"approved_by\": null, \"over_18\": false, \"hidden\": false, \"thumbnail\":
        \"\", \"subreddit_id\": \"t5_2uorf\", \"edited\": false, \"link_flair_css_class\":
        null, \"author_flair_css_class\": null, \"downs\": 1, \"saved\": false, \"is_self\":
        false, \"permalink\": \"/r/rubytesting/comments/110s4j/github/\", \"name\":
        \"t3_110s4j\", \"created\": 1349487983.0, \"url\": \"http://github.com\",
        \"author_flair_text\": null, \"title\": \"Github\", \"created_utc\": 1349484383.0,
        \"ups\": 2, \"num_comments\": 0, \"visited\": false, \"num_reports\": null,
        \"distinguished\": null}}, {\"kind\": \"t3\", \"data\": {\"domain\": \"github.com\",
        \"banned_by\": null, \"media_embed\": {}, \"subreddit\": \"anddev\", \"selftext_html\":
        null, \"selftext\": \"\", \"likes\": null, \"secure_media\": null, \"link_flair_text\":
        null, \"id\": \"zqfpg\", \"secure_media_embed\": {}, \"clicked\": false, \"stickied\":
        false, \"author\": \"brandonlnelson15\", \"media\": null, \"score\": 1, \"approved_by\":
        null, \"over_18\": false, \"hidden\": fal[...]
