---
http_interactions:
- request:
    method: get
    uri: https://ssl.reddit.com/prefs/friends.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Modhash:
      - 36zuxndsdf695692a68e32384990478663dadfc30f0a1dd959
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "[{\"kind\": \"UserList\", \"data\": {\"children\": [{\"name\": \"amberlynns\",
        \"id\": \"t2_b80lr\"}, {\"name\": \"SomeFakeUsername\", \"id\": \"t2_7lafr\"}]}},
        {\"kind\": \"UserList\", \"data\": {\"children\": []}}]"
  recorded_at: Sun, 10 Nov 2013 22:21:06 GMT
recorded_with: VCR 2.6.0
