---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/r/ruby/search.json?limit&q=ruby&restrict_sr=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\":
        [{\"kind\": \"t3\", \"data\": {\"domain\": \"self.ruby\", \"banned_by\": null,
        \"media_embed\": {}, \"subreddit\": \"ruby\", \"selftext_html\": \"&lt;!--
        SC_OFF --&gt;&lt;div class=\\\"md\\\"&gt;&lt;p&gt;Hello &lt;a href=\\\"/r/ruby\\\"&gt;/r/ruby&lt;/a&gt;
        &lt;/p&gt;\\n\\n&lt;p&gt;I am new to Ruby, however I&amp;#39;ve programmed
        in C, C++, Java, and C# along with VB.NET, HTML, and minimal Python. &lt;/p&gt;\\n\\n&lt;p&gt;I&amp;#39;ve
        heard that Ruby is a bit different and has quite the steep learning curve.
        So I ask you...&lt;/p&gt;\\n\\n&lt;p&gt;What is the one thing that you wish
        you knew before starting to learn or really use Ruby?&lt;/p&gt;\\n\\n&lt;p&gt;I
        also plan on using RoR if anyone has thoughts on that as well!&lt;/p&gt;\\n\\n&lt;p&gt;Any
        comments are appreciated! Thanks Guys!&lt;/p&gt;\\n&lt;/div&gt;&lt;!-- SC_ON
        --&gt;\", \"selftext\": \"Hello /r/ruby \\n\\nI am new to Ruby, however I've
        programmed in C, C++, Java, and C# along with VB.NET, HTML, and minimal Python.
        \\n\\nI've heard that Ruby is a bit different and has quite the steep learning
        curve. So I ask you...\\n\\nWhat is the one thing that you wish you knew before
        starting to learn or really use Ruby?\\n\\nI also plan on using RoR if anyone
        has thoughts on that as well!\\n\\nAny comments are appreciated! Thanks Guys!\",
        \"likes\": null, \"secure_media\": null, \"link_flair_text\": null, \"id\":
        \"1j9wqw\", \"secure_media_embed\": {}, \"clicked\": false, \"stickied\":
        false, \"author\": \"ProductiveThings\", \"media\": null, \"score\": 54, \"approved_by\":
        null, \"over_18\": false, \"hidden\": false, \"thumbnail\": \"\", \"subreddit_id\":
        \"t5_2qh21\", \"edited\": false, \"link_flair_css_class\": null, \"author_flair_css_class\":
        null, \"downs\": 8, \"saved\": false, \"is_self\": true, \"permalink\": \"/r/ruby/comments/1j9wqw/what_is_one_thing_you_wish_you_knew_when_starting/\",
        \"name\": \"t3_1j9wqw\", \"created\": 1375108691.0, \"url\": \"http://www.reddit.com/r/ruby/comments/1j9wqw/what_is_one_thing_you_wish_you_knew_when_starting/\",
        \"author_flair_text\": null, \"title\": \"What is one thing you wish you knew
        when starting Ruby?\", \"created_utc\": 1375105091.0, \"ups\": 62, \"num_comments\":
        73, \"visited\": false, \"num_reports\": null, \"distinguished\": null}},
        {\"kind\": \"t3\", \"data\": {\"domain\": \"self.ruby\", \"banned_by\": null,
        \"media_embed\": {}, \"subreddit\": \"ruby\", \"selftext_html\": \"&lt;!--
        SC_OFF --&gt;&lt;div class=\\\"md\\\"&gt;&lt;p&gt;...and thanks to everyone
        in &lt;a href=\\\"/r/ruby\\\"&gt;/r/ruby&lt;/a&gt;, &lt;a href=\\\"/r/rails\\\"&gt;/r/rails&lt;/a&gt;
        and &lt;a href=\\\"/r/programming\\\"&gt;/r/programming&lt;/a&gt; who helped
        me gain not only the skills but the[...]
- request:
    method: get
    uri: http://www.reddit.com/r/ruby/search.json?after&before&count&limit&q=ruby&restrict_sr=true&sort&syntax&t
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\":
        [{\"kind\": \"t3\", \"data\": {\"domain\"[...]
