---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/submit.json?url=http://i.imgur.com/ypLqggl.png
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\":
        [{\"kind\": \"t3\", \"data\": {\"domain\": \"i.imgur.com\", \"banned_by\":
        null, \"media_embed\": {}, \"subreddit\": \"gaming\", \"selftext_html\": null,
        \"selftext\": \"\", \"likes\": null, \"secure_media\": null, \"link_flair_text\":
        null, \"id\": \"1x1sn0\", \"gilded\": 0, \"secure_media_embed\": {}, \"clicked\":
        false, \"stickied\": false, \"author\": \"360scrubs\", \"media\": null, \"score\":
        1, \"approved_by\": null, \"over_18\": false, \"hidden\": false, \"thumbnail\":
        \"default\", \"subreddit_id\": \"t5_2qh03\", \"edited\": false, \"link_flair_css_class\":
        null, \"author_flair_css_class\": null, \"downs\": 2, \"saved\": false, \"is_self\":
        false, \"permalink\": \"/r/gaming/comments/1x1sn0/black_man_gamer_problems/\",
        \"name\": \"t3_1x1sn0\", \"created\": 1391571208.0, \"url\": \"http://i.imgur.com/ypLqggl.png\",
        \"author_flair_text\": null, \"title\": \"Black Man Gamer Problems\", \"created_utc\":
        1391571208.0, \"ups\": 3, \"num_comments\": 0, \"visited\": false, \"num_reports\":
        null, \"distinguished\": null}}, {\"kind\": \"t3\", \"data\": {\"domain\":
        \"i.imgur.com\", \"banned_by\": null, \"media_embed\": {}, \"subreddit\":
        \"Haumana\", \"selftext_html\": null, \"selftext\": \"\", \"likes\": null,
        \"secure_media\": null, \"link_flair_text\": null, \"id\": \"1oeimz\", \"gilded\":
        0, \"secure_media_embed\": {}, \"clicked\": false, \"stickied\": false, \"author\":
        \"malamadakeiki\", \"media\": null, \"score\": 1, \"approved_by\": null, \"over_18\":
       [...]
