---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/search.json?limit&q=ruby&restrict_sr
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\":
        [{\"kind\": \"t3\", \"data\": {\"domain\": \"self.IAmA\", \"banned_by\": null,
        \"media_embed\": {}, \"subreddit\": \"IAmA\", \"selftext_html\": \"&lt;!--
        SC_OFF --&gt;&lt;div class=\\\"md\\\"&gt;&lt;p&gt;Verification: &lt;a href=\\\"http://imgur.com/HL2X9\\\"&gt;http://imgur.com/HL2X9&lt;/a&gt;
        &lt;/p&gt;\\n\\n&lt;p&gt;Twitter: &lt;a href=\\\"http://twitter.com/Ruby_Knox\\\"&gt;http://twitter.com/Ruby_Knox&lt;/a&gt;
        &lt;/p&gt;\\n\\n&lt;p&gt;Sorry If I&amp;#39;ve missed anyone&amp;#39;s questions!
        &lt;/p&gt;\\n&lt;/div&gt;&lt;!-- SC_ON --&gt;\", \"selftext\": \"Verification:
        http://imgur.com/HL2X9 \\n\\nTwitter: http://twitter.com/Ruby_Knox \\n\\nSorry
        If I've missed anyone's questions! \\n\", \"likes\": null, \"secure_media\":
        null, \"link_flair_text\": null, \"id\": \"sk79h\", \"secure_media_embed\":
        {}, \"clicked\": false, \"stickied\": false, \"author\": \"Ruby_Knox\", \"media\":
        null, \"score\": 260, \"approved_by\": null, \"over_18\": false, \"hidden\":
        false, \"thumbnail\": \"self\", \"subreddit_id\": \"t5_2qzb6\", \"edited\":
        true, \"link_flair_css_class\": null, \"author_flair_css_class\": null, \"downs\":
        140, \"saved\": false, \"is_self\": true, \"permalink\": \"/r/IAmA/comments/sk79h/iama_pornstar_camgirl_ruby_knox_ama/\",
        \"name\": \"t3_sk79h\", \"created\": 1334954774.0, \"url\": \"http://www.reddit.com/r/IAmA/comments/sk79h/iama_pornstar_camgirl_ruby_knox_ama/\",
        \"author_flair_text\": null, \"title\": \"IAmA pornstar / camgirl - Ruby Knox.
        AMA\", \"created_utc\": 1334951174.0, \"ups\": 400, \"num_comments\": 687,
        \"visited\": false, \"num_reports\": null, \"distinguished\": null}}, {\"kind\":
        \"t3\", \"data\": {\"domain\": \"self.ruby\", \"banned_by\": null, \"media_embed\":
        {}, \"subreddit\": \"ruby\", \"selftext_html\": \"&lt;!-- SC_OFF --&gt;&lt;div
        class=\\\"md\\\"&gt;&lt;p&gt;Hello &lt;a href=\\\"/r/ruby\\\"&gt;/r/ruby&lt;/a&gt;
        &lt;/p&gt;\\n\\n&lt;p&gt;I am new to Ruby, however I&amp;#39;ve programmed
        in C, C++, Java, and C# along with VB.NET, HTML, and minimal Python. &lt;/p&gt;\\n\\n&lt;p&gt;I&amp;#39;ve
        hear[...]
- request:
    method: get
    uri: http://www.reddit.com/search.json?after&before&count&limit&q=ruby&restrict_sr&sort&syntax&t
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\":
        [{\"kind\": \"t3\", \"data\": {\"domain\": \"self.IAm[...]
