---
http_interactions:
- request:
    method: post
    uri: http://www.reddit.com/api/comment
    body:
      encoding: US-ASCII
      string: text=Comment+submission+test&thing_id=t3_1n002d&api_type=json
    headers:
      X-Modhash:
      - 36zuxndsdf695692a68e32384990478663dadfc30f0a1dd959
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"json\": {\"errors\": [], \"data\": {\"things\": [{\"kind\": \"t1\",
        \"data\": {\"parent\": \"t3_1n002d\", \"content\": \"\\n\\n\\n\\n\\n\\n\\n\\n&lt;div
        class=\\\"\\n  \\n  thing id-t1_cdb6jhx\\n \\n  \\n   odd\\n comment   \\\"\\n
        \    onclick=\\\"click_thing(this)\\\"\\n    \\n    \\n      data-fullname=\\\"t1_cdb6jhx\\\"\\n\\n\\n
        data-ups=\\\"1\\\" data-downs=\\\"0\\\"\\n&gt;\\n  &lt;p class=\\\"parent\\\"&gt;\\n
        \   \\n  \\n\\n    &lt;a name=\\\"cdb6jhx\\\"&gt;&lt;/a&gt;\\n\\n  &lt;/p&gt;\\n
        \ \\n\\n  \\n  \\n\\n    \\n  &lt;div class=\\\"midcol likes\\\" \\n       &g[...]
- request:
    method: get
    uri: http://www.reddit.com/api/info.json?id=t1_cdb6jhx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Modhash:
      - 36zuxndsdf695692a68e32384990478663dadfc30f0a1dd959
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"cv8ud7eueg6c046c9c64c945fbcc876efcb4f974e65041d0e8\",
        \"children\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2ylc5\",
        \"banned_by\": null, \"subreddit\": \"RedditKitTesting\", \"likes\": true,
        \"replies\": \"\", \"id\": \"cdb6jhx\", \"gilded\": 0, \"author\": \"<REDDIT_USERNAME>\",
        \"parent_id\": \"t3_1n002d\", \"approved_by\": null, \"body\": \"Comment submission
        test\", \"edited\": false, \"author_flair_css_class\": null, \"downs\": 0,
        \"body_html\": \"&lt;div class=\\\"md\\\"&gt;&lt;p&gt;Comment submission test&lt;/p&gt;\\n&lt;/div&gt;\",
        \"link_id\": \"t3_1n002d\", \"score_hidden\": false, \"name\": \"t1_cdb6jhx\",
        \"created\": 1384142086.0, \"author_flair_text\": null, \"created_utc\": 1384113286.0,
        \"ups\": 1, \"num_reports\": 0, \"distinguished\": null}}], \"after\": null,
        \"before\": null}}"
  recorded_at: Sun, 10 Nov 2013 19:54:45 GMT
- request:
    method: post
    uri: http://www.reddit.com/api/del
    body:
      encoding: US-ASCII
      string: id=t1_cdb6jhx
    headers:
      X-Modhash:
      - 36zuxndsdf695692a68e32384990478663dadfc30f0a1dd959
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Sun, 10 Nov 2013 19:54:46 GMT
recorded_with: VCR 2.6.0
