---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/api/info.json?id=t3_1n002d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\":
        [{\"kind\": \"t3\", \"data\": {\"domain\": \"self.RedditKitTesting\", \"banned_by\":
        null, \"media_embed\": {}, \"subreddit\": \"RedditKitTesting\", \"selftext_html\":
        \"&lt;!-- SC_OFF --&gt;&lt;div class=\\\"md\\\"&gt;&lt;p&gt;Here&amp;#39;s
        a test self post. This will never be deleted and can be used to test voting/saving/hiding.&lt;/p&gt;\\n&lt;/div&gt;&lt;!--
        SC_ON --&gt;\", \"selftext\": \"Here's a test self post. This will never be
        deleted and can be used to test voting/saving/hiding.\", \"likes\": null,
        \"secure_media\": null, \"link_flair_text\": \"Test flair\", \"id\": \"1n002d\",
        \"secure_media_embed\": {}, \"clicked\": false, \"stickied\": false, \"author\":
        \"samsymons\", \"media\": null, \"score\": 1, \"approved_by\": null, \"over_18\":
        false, \"hidden\": false, \"thumbnail\": \"\", \"subreddit_id\": \"t5_2ylc5\",
        \"edited\": 1382729104.0, \"link_flair_css_class\": \"testclass\", \"author_flair_css_class\":
        null, \"downs\": 1, \"saved\": false, \"is_self\": true, \"permalink\": \"/r/RedditKitTesting/comments/1n002d/test_self_post/\",
        \"name\": \"t3_1n002d\", \"created\": 1379988320.0, \"url\": \"http://www.reddit.com/r/RedditKitTesting/comments/1n002d/test_self_post/\",
        \"author_flair_text\": null, \"title\": \"Test self post\", \"created_utc\":
        1379984720.0, \"ups\": 2, \"num_comments\": 3, \"visited\": false, \"num_reports\":
        null, \"distinguished\": null}}], \"after\": null, \"before\": null}}"
  recorded_at: Sun, 10 Nov 2013 19:54:43 GMT
- request:
    method: get
    uri: http://www.reddit.com/comments/1n002d.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Tue, 29 Oct 2013 20:08:26 GMT
    body:
      encoding: UTF-8
      string: "[{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\":
        [{\"kind\": \"t3\", \"data\": {\"domain\": \"self.RedditKitTesting\", \"banned_by\":
        null, \"media_embed\": {}, \"subreddit\": \"RedditKitTesting\", \"selftext_html\":
        \"&lt;!-- SC_OFF --&gt;&lt;div class=\\\"md\\\"&gt;&lt;p&gt;Here&amp;#39;s
        a test self post. This will never be deleted and can be used to test v[...]
