---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/api/multi/user/<REDDIT_USERNAME>/m/test/description
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Modhash:
      - 36zuxndsdf695692a68e32384990478663dadfc30f0a1dd959
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"kind\": \"LabeledMultiDescription\", \"data\": {\"body_html\": \"\",
        \"body_md\": \"\"}}"
  recorded_at: Sun, 10 Nov 2013 22:02:55 GMT
recorded_with: VCR 2.6.0
