---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/r/RedditKitTesting/about.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Modhash:
      - 36zuxndsdf695692a68e32384990478663dadfc30f0a1dd959
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"kind\": \"t5\", \"data\": {\"submit_text_html\": null, \"user_is_banned\":
        false, \"id\": \"2ylc5\", \"submit_text\": \"\", \"spam_selfposts\": null,
        \"display_name\": \"RedditKitTesting\", \"header_img\": null, \"description_html\":
        null, \"title\": \"RedditKit Testing\", \"over18\": false, \"user_is_moderator\":
        true, \"header_title\": null, \"description\": \"\", \"submit_link_label\":
        null, \"accounts_active\": 6, \"spam_comments\": null, \"spam_links\": null,
        \"header_size\": null, \"subscribers\": 1, \"submit_text_label\": null, \"name\":
        \"t5_2ylc5\", \"created\": 1379988259.0, \"url\": \"/r/RedditKitTesting/\",
        \"created_utc\": 1379984659.0, \"user_is_contributor\": false, \"public_traffic\":
        false, \"public_description\": \"\", \"comment_score_hide_mins\": 0, \"subreddit_type\":
        \"public\", \"submission_type\": \"any\", \"user_is_subscriber\": false}}"
  recorded_at: Sun, 10 Nov 2013 22:21:33 GMT
recorded_with: VCR 2.6.0
