---
http_interactions:
- request:
    method: post
    uri: http://www.reddit.com/api/new_captcha
    body:
      encoding: US-ASCII
      string: api_type=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"json\": {\"errors\": [], \"data\": {\"iden\": \"i7ESKJ9EFa8CHM1ny39Z5zGtadYX1Kqj\"}}}"
  recorded_at: Sun, 10 Nov 2013 19:54:33 GMT
recorded_with: VCR 2.6.0
