---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/r/RedditKitTesting/about.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Modhash:
      - 36zuxndsdf695692a68e32384990478663dadfc30f0a1dd959
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"kind": "t5", "data": {"submit_text_html": null, "user_is_banned":
        false, "id": "2ylc5", "submit_text": "", "spam_selfposts": null, "display_name":
        "RedditKitTesting", "header_img": null, "description_html": null, "title":
        "RedditKit Testing", "over18": false, "user_is_moderator": true, "header_title":
        null, "description": "", "submit_link_label": null, "accounts_active": 6,
        "spam_comments": null, "spam_links": null, "header_size": null, "subscribers":
        1, "submit_text_label": null, "name": "t5_2ylc5", "created": 1379988259.0,
        "url": "/r/RedditKitTesting/", "created_utc": 1379984659.0, "user_is_contributor":
        false, "public_traffic": false, "public_description": "", "comment_score_hide_mins":
        0, "subreddit_type": "public", "submission_type": "any", "user_is_subscriber":
        false}}'
  recorded_at: Sun, 10 Nov 2013 22:21:37 GMT
- request:
    method: post
    uri: http://www.reddit.com/api/friend
    body:
      encoding: US-ASCII
      string: container=t5_2ylc5&name=somefakeredditusername&type=banned&r=RedditKitTesting
    headers:
      X-Modhash:
      - 36zuxndsdf695692a68e32384990478663dadfc30f0a1dd959
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"jquery": [[0, 1, "call", ["body"]], [1, 2, "attr", "find"], [2, 3,
        "call", [".status"]], [3, 4, "attr", "hide"], [4, 5, "call", []], [5, 6, "attr",
        "html"], [6, 7, "call", [""]], [7, 8, "attr", "end"], [8, 9, "call", []],
        [1, 10, "attr", "find"], [10, 11, "call", [".error.NO_USER.field-name"]],
        [11, 12, "attr", "show"], [12, 13, "call", []], [13, 14, "attr", "text"],
        [14, 15, "call", ["please enter a username"]], [15, 16, "attr", "end"], [16,
        17, "call", []]]}'
  recorded_at: Sun, 10 Nov 2013 22:21:37 GMT
- request:
    method: get
    uri: http://www.reddit.com/r/<REDDIT_USERNAME>_testsub/about.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Modhash:
      - 36zuxndsdf695692a68e32384990478663dadfc30f0a1dd959
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error": 403}'
  recorded_at: Wed, 29 Jan 2014 23:30:33 GMT
recorded_with: VCR 2.8.0
