---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/rising.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\":
        [{\"kind\": \"t3\", \"data\": {\"domain\": \"i.imgur.com\", \"banned_by\":
        null, \"media_embed\": {}, \"subreddit\": \"AdviceAnimals\", \"selftext_html\":
        null, \"selftext\": \"\", \"likes\": null, \"secure_media\": null, \"link_flair_text\":
        null, \"id\": \"1qboeo\", \"secure_media_embed\": {}, \"clicked\": false,
        \"stickied\": false, \"author\": \"NutchMuch\", \"media\": null, \"score\":
        2, \"approved_by\": null, \"over_18\": false, \"hidden\": false, \"thumbnail\":
        \"http://b.thumbs.redditmedia.com/BAD6I7GRdHNv99W7.jpg\", \"subreddit_id\":
        \"t5_2s7tt\", \"edited\": false, \"link_flair_css_class\": null, \"author_flair_css_class\":
        null, \"downs\": 0, \"saved\": false, \"is_self\": false, \"permalink\": \"/r/AdviceAnimals/comments/1qboeo/bad_luck_body_wash/\",
        \"name\": \"t3_1qboeo\", \"created\": 1384142031.0, \"url\": \"http://i.imgur.com/QNA3cRc.jpg\",
        \"author_flair_text\": null, \"title\": \"Bad Luck Body Wash\", \"created_utc\":
        1384113231.0, \"ups\": 2, \"num_comments\": 0, \"visited\": false, \"num_reports\":
        null, \"distinguished\": null}}, {\"kind\": \"t3\", \"data\": {\"domain\":
        \"i.imgur.com\", \"banned_by\": null, \"media_embed\": {}, \"subreddit\":
        \"aww\", \"selftext_html\": null, \"selftext\": \"\", \"likes\": null, \"secure_media\":
        null, \"link_flair_text\": null, \"id\": \"1qboez\", \"secure_media_embed\":
        {}, \"clicked\": false, \"stickied\": false, \"author\": \"starscreamsound\",
        \"media\": null, \"score\": 2, \"approved_by\": null, \"over_18\": false,
        \"hidden\[...]
