---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/r/programming/about.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"kind\": \"t5\", \"data\": {\"submit_text_html\": null, \"user_is_banned\":
        null, \"id\": \"2fwo\", \"submit_text\": \"\", \"spam_selfposts\": \"high\",
        \"display_name\": \"programming\", \"header_img\": \"http://static.reddit.com/reddit_programming.png\",
        \"description_html\": \"&lt;!-- SC_OFF --&gt;&lt;div class=\\\"md\\\"&gt;&lt;p&gt;&lt;a
        href=\\\"/r/programming\\\"&gt;/r/programming&lt;/a&gt; is a reddit for discussion
        and news about &lt;a href=\\\"http://en.wikipedia.org/wiki/Computer_programming\\\"&gt;computer
        programming&lt;/a&gt;&lt;/p&gt;\\n\\n&lt;hr/&gt;\\n\\n&lt;p&gt;&lt;strong&gt;Guidelines&lt;/strong&gt;&lt;/p&gt;\\n\\n&lt;ul&gt;\\n&lt;li&gt;&lt;p&gt;Please
        try to keep submissions on topic and of high quality.&lt;/p&gt;&l[...]
