---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/r/RedditKitTesting/about/log.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Modhash:
      - 36zuxndsdf695692a68e32384990478663dadfc30f0a1dd959
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"lh315k2hi0cd3009c88b563d7ae978d0ad5c68418b9e585a75\",
        \"children\": [{\"kind\": \"modaction\", \"data\": {\"description\": null,
        \"mod_id36\": \"c3szt\", \"created_utc\": 1384122091.0, \"subreddit\": \"RedditKitTesting\",
        \"sr_id36\": \"2ylc5\", \"details\": \"Page fake-page edited\", \"action\":
        \"wikirevise\", \"target_fullname\": null, \"id\": \"ModAction_73585fea-4a56-11e3-b37a-12313b0cbc7a\",
        \"mod\": \"<REDDIT_USERNAME>\"}}, {\"kind\": \"modaction\", \"data\": {\"description\":
        null, \"mod_id36\": \"c3szt\", \"created_utc\": 1384113407.0, \"subreddit\":
        \"RedditKitTesting\", \"sr_id36\": \"2ylc5\", \"details\": \"remove\", \"action\":
        \"marknsfw\", \"target_fullname\": \"t3_1n002d\", \"id\": \"ModAction_3b746718-4a42-11e3-a4cd-12313b0ae6f4\",
        \"mod\": \"<REDDIT_USERNAME>\"}}, {\"kind\": \"modaction\", \"data\": {\"description\":
        null, \"mod_id36\": \"c3szt\", \"created_u[...]
