---
http_interactions:
- request:
    method: post
    uri: http://www.reddit.com/api/multi/user/<REDDIT_USERNAME>/m/multireddittorename
    body:
      encoding: US-ASCII
      string: multipath=%2Fuser%2F<REDDIT_USERNAME>%2Fm%2Fmultireddittorename&model=%7B%22visibility%22%3A%22private%22%2C%22subreddits%22%3A%5B%5D%7D
    headers:
      X-Modhash:
      - 36zuxndsdf695692a68e32384990478663dadfc30f0a1dd959
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"kind\": \"LabeledMulti\", \"data\": {\"can_edit\": true, \"name\":
        \"multireddittorename\", \"created\": 1384150847.0, \"subreddits\": [], \"created_utc\":
        1384122047.0, \"visibility\": \"private\", \"path\": \"/user/<REDDIT_USERNAME>/m/multireddittorename\"}}"
  recorded_at: Sun, 10 Nov 2013 22:20:46 GMT
- request:
    method: post
    uri: http://www.reddit.com/api/multi/rename
    body:
      encoding: US-ASCII
      string: from=%2Fuser%2F<REDDIT_USERNAME>%2Fm%2Fmultireddittorename&to=%2Fuser%2F<REDDIT_USERNAME>%2Fm%2Frenamedmultireddit
    headers:
      X-Modhash:
      - 36zuxndsdf695692a68e32384990478663dadfc30f0a1dd959
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"kind\": \"LabeledMulti\", \"data\": {\"can_edit\": true, \"name\":
        \"renamedmultireddit\", \"created\": 1384150847.0, \"subreddits\": [], \"created_utc\":
        1384122047.0, \"visibility\": \"private\", \"path\": \"/user/<REDDIT_USERNAME>/m/renamedmultireddit\"}}"
  recorded_at: Sun, 10 Nov 2013 22:20:46 GMT
- request:
    method: delete
    uri: http://www.reddit.com/api/multi/user/<REDDIT_USERNAME>/m/renamedmultireddit?multireddit=/user/<REDDIT_USERNAME>/m/renamedmultireddit
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Modhash:
      - 36zuxndsdf695692a68e32384990478663dadfc30f0a1dd959
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 10 Nov 2013 22:20:47 GMT
recorded_with: VCR 2.6.0
